body, html {
    background-color: BDBDBD;
}

h1, h2, p {
    color: #676767 !important;
}

.btn-primary {
    background-color: #6699CC;
}

a.nav-link.active {
    color: #003B6D !important;
    font-weight: bold;
}